.row {
  display: flex;
  justify-content: center;
}

.nf-h3 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.col-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrap {
  display: flex;
  justify-content: center;
}

.nf-img {
  width: 70%;
}

.link-wrap {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
