.container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #faf0ca;
  margin-top: 3rem;
  width: 80%;
}

.name {
  margin-top: 3rem;
}

.pd-imgs-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sm-previews {
  display: flex;
  align-items: center;
  height: 10rem;
}

img {
  width: 25%;
}

.r-wrap {
  display: flex;
  flex-direction: row;
}

.ratings {
  margin-left: 1rem;
  font-weight: 700;
}

.reviews {
  margin-left: 1rem;
}

.all-price-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.item-price-wrap,
.sub-price-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
}

.price {
  font-size: 2.5rem;
  color: #ee964b;
}

.sp-text {
  font-weight: 700;
  color: #0d3b66;
}

.sub-price {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f95738;
}

.details-wrap {
  margin-top: 2.5rem;
}

.sub-n-save-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  cursor: pointer;
}

.sub-link-div:hover {
  text-decoration: underline #0d3b66;
}

.pd-sub-link {
  text-decoration: none;
}

.sub-h4 {
  font-size: 1.75rem;
  font-weight: 600;
}

.heart-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-icon {
  font-size: 2.25rem;
  margin-right: 1rem;
}

.heart-icon-btn {
  margin-left: 3rem;
  height: 5rem;
  text-align: center;
  margin-top: 2.25rem;
  border: none;
  background-color: #faf0ca;
  font-size: 1.75rem;
  font-weight: 600;
}

.heart-icon-btn:hover {
  color: #f95738;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.home-btn {
  font-size: 1.5rem;
  font-family: Geologica, sans-serif;
  color: #2568a3;
  margin: 1rem;
}

.home-btn:hover {
  text-decoration: underline;
}
