.sm-previews {
  display: flex;
  align-items: center;
  width: 25%;
  height: 10rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.back-btn-wrap {
  color: #2568a3;
}

.back-btn-wrap:hover {
  text-decoration: underline;
}

.home-btn {
  font-size: 1.5rem;
  font-family: Geologica, sans-serif;
}
