.sub-head {
  font-family: Geologica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sub-h4 {
  color: #0d3b66;
  margin-top: 1rem;
}

.text {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.sub-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrap {
  display: flex;
  justify-content: center;
  width: 60%;
}

.sub-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  height: 80%;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
}

label {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

input {
  width: 30rem;
  height: 3.25rem;
  border-radius: 5px;
  border: solid black 2px;
  margin-left: 1rem;
}

input::placeholder {
  font-family: noto-sans-kr, sans-serif;
}

.fn-icon,
.ln-icon,
.email-icon,
.address-icon,
.username-icon,
.password-icon {
  font-size: 1.5rem;
}

.pw-text {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.sub-btn {
  border-radius: 4px;
  background-color: #f4d35e;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sub-btn:hover {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.link {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.back-btn-wrap {
  color: #2568a3;
}

.back-btn-wrap:hover {
  text-decoration: underline;
}

.home-btn {
  font-family: Geologica, sans-serif;
}

@media screen and (width <= 992px) {
  .sub-form {
    width: 150%;
  }

  .sub-h4 {
    text-align: center;
  }

  .fn,
  .ln,
  .email,
  .address,
  .sub-username,
  .sub-password {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .fn-input,
  .ln-input,
  .email-input,
  .address-input,
  .username-input,
  .password-input {
    width: 15rem;
  }

  .sub-password {
    display: block;
  }

  .sub-btn {
    height: 3rem;
    width: 8rem;
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}
