.es-modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0, 0, 0, 0.85);
}

/* Modal Content */
.modal-content {
  background-color: #f95738;
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 70vh;
}

.modal-wrap {
  display: flex;
  flex-direction: row;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.modal-head {
  margin-bottom: 2rem;
  font-family: geologica, sans-serif;
  color: #faf0ca;
}

.modal-p {
  margin-top: 4rem;
  font-family: noto-sans-kr, sans-serif;
  font-weight: lighter;
  font-size: 1.25rem;
  color: #faf0ca;
}

.es-btn-wrap {
  display: flex;
}

.es-btn {
  float: right;
  font-size: 28px;
  width: 10rem;
  margin: 3rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 4rem;
  color: black;
  font-family: geologica, sans-serif;
}

.subscribe-btn {
  border-radius: 4px;
  background-color: #f4d35e;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.subscribe-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.subscribe-btn span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.subscribe-btn:hover span {
  padding-right: 25px;
}

.subscribe-btn:hover span::after {
  opacity: 1;
  right: 0;
}

.close-btn {
  background-color: #ffb544;
  border: none;
}

.close-btn:hover {
  box-shadow: 0 2px #f95738;
  transform: translateY(2px);
}

.img-wrap {
  width: 75%;
  justify-content: end;
}

.popup-img {
  width: 80%;
}

@media screen and (width <= 992px) {
  .content-wrap {
    margin: 0;
  }

  .modal-p {
    font-size: 0.75rem;
  }

  .es-btn-wrap {
    display: flex;
    flex-direction: column;
  }

  .close-btn,
  .subscribe-btn {
    margin: 0;
    height: 3rem;
    width: 8rem;
  }

  .es-btn {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
  }

  .popup-img {
    width: 100%;
    height: auto;
  }
}
