.pet-fav-wrap {
  display: flex;
  flex-direction: column;
}

.pet-fav {
  font-weight: bold;
  font-size: 2.25rem;
  font-family: Geologica, sans-serif;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-bottom: 3rem;
}

.details {
  text-decoration: none;
}
