.card-img {
  margin-bottom: 1rem;
}

.prod-card {
  background-color: white;
  border: none;
}

.price {
  font-size: 2.25rem;
  font-family: noto-sans-kr, sans-serif;
  font-weight: bold;
  color: #f95738;
}

@media screen and (width <= 992px) {
  .prod-card {
    width: 100%;
  }

  .card-img-wrap {
    width: 25%;
  }
}
