.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-h2 {
  color: #0d3b66;
  margin-top: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.success-img {
  width: 120%;
}

.success-text {
  text-align: center;
}

.unsubscribe-btn {
  width: 15rem;
  height: 4rem;
  background-color: #ee964b;
  border: #ee964b;
  font-size: 1.25rem;
  border-radius: 5px;
}

.unsubscribe-btn:active {
  background-color: #f4d35e;
  transform: translateY(3px);
}
